
#button {
    -fx-text-fill: #ffffff;
    -fx-background-color: #2364c5;
    -fx-transition: all 0.3s ease 0s;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 3, 0, 0, 0);

}

#text {
   -fx-text-fill: #ffffff;
}
#button:hover {
    -fx-background-color: white;
    -fx-text-fill: rgb(35, 100, 197);
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 7, 0, 0, 0);
}

#button1 {
    -fx-text-fill: rgba(255, 255, 255, 0.7);
    -fx-underline: true;
    -fx-padding: 0;
}

#button1:hover {
    -fx-text-fill: #ffffff;
}

#button3 {
    -fx-text-fill: #ffffff;
    -fx-background-color: #1f2a42;
    -fx-transition: all 0.3s ease 0s;
}

#button3:hover {
    -fx-background-color: white;
    -fx-text-fill: #1f2a42;
}

#e {
    -fx-effect: dropshadow(gaussian, rgba(31, 42, 66, 1.5), 50, 0, 0, 0);
}

#ee {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1.5), 50, 0, 0, 0);
}

#1e {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1.5), 80, 0, 0, 0);
}

#2e {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 1.5), 40, 0, 0, 0);
}
#e3 {
   
    -fx-text-fill: white;
    -fx-border-radius: 15px;
    -fx-cursor: hand;
    -fx-text-alignment: center;
    -fx-background-radius: 15px;
 
 
}